body {
  background-color: rgb(0, 0, 0);
  color: rgb(54, 255, 47);
  font-family: "Russo One", sans-serif;
  font-size: 50px;
  min-width: auto;
}

button {
  background-color: rgb(54, 255, 47);
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Russo One";
}

.clockCase,
.buttonCase {
  min-width: auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

#start:active {
  background-color: rgb(255, 255, 255);
}
#stop:active {
  background-color: rgb(255, 52, 2);
}

@media screen and (max-width: 425px) {
  body {
    font-size: 35px;
  }
  .buttonCase {
    font-size: 5px;
  }
  #clock{
    text-align: center;
  }
  button {
    padding: 10px;
  }
}
